{% extends 'kyenerContact/base.html' %}

{% block content %}
	
		<div id="fh5co-contact-section">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-md-push-1 animate-box">
						<h3>Mekanımız</h3>
						<ul class="contact-info">
							<li><i class="icon-location-pin"></i>Batıkent ANKARA</li>
							<li><i class="icon-phone2"></i>+90 554 272 75 06</li>
							<li><i class="icon-mail"></i><a href="#">kyener02@hotmail.com</a></li>
						</ul>
					</div>
					<div class="col-md-7 col-md-push-1 animate-box">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Ad">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Soyad">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="E-mail">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea name="" class="form-control" id="" cols="50" rows="10" placeholder="Mesaj"></textarea>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="submit" value="Gönder" class="btn btn-primary">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End: fh5co-contact-section -->

		
		
{% endblock %}